body {
	font-family: 'Open Sans', sans-serif
}
#wrapper{
	width: 940px;
	margin: 0px auto;
}
a.button {
	border-radius:6px;
	padding:5px;
	background-color: #00CC00;
	color: white;
	text-decoration: none;
}
a.button:hover{
	background-color: #00BB00;
}