body {
	font-family: Arial, sans-serif;
	background: url(images/bg-blob.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top:10px;
}
#wrapper{
	width: 940px;
	margin: 0px auto;
}
.box{
	padding-top:10px;
	padding-bottom:10px;
	background-color: #EEE;
	border-radius:2px;
}
p{
	margin-top: 0px;
}
a.button {
	border-radius:6px;
	padding:5px;
	background-color: #00D500;
	color: white;
	text-decoration: none;
}
a.button:hover{
	background-color: #00CB00;
}
.nav{
	float: left;
	margin-bottom:10px;
}
.nav ul{
	list-style-type: none;
	margin:0px;
	padding: 5px 5px;
	background: #555;
	float: left;
	width:930px;
}
.nav li {
	display: block;
	float: left;
	width: 33%;
	text-align: center;
}
.nav a{
	padding:5px;
	background-color: #555;
	color: white;
	text-decoration: none;
	width: 100%;
	float: left;
	font-weight: bold;
	font-size:20;
}
.nav a:hover{
	background-color: #00CB00;
}
.youtube {
display:block;
text-align:center;
margin-top: 10px;
margin-bottom: 10px;
}

.dl-btns{
	list-style-type: none;
	padding: 0;
	padding-left: 69.5px;
	padding-right: 69.5px;
}
.dl-btns li {
	display: inline;
	width:128px;
	height:128px;
	margin-left: 63px;
	margin-right: 63px;
}
.dl-btns a {
	text-decoration: none;
}
.dl-btns img{
	border-radius:6px;
	padding:5px;
	background-color: #EEE;
}

.dl-btns img:hover{
	background-color: #E0E0E0;
}