.os-links a{
	background-color: #00CB00;
	color: white;
	border-radius: 5px;
	text-decoration:none;
	text-align:center;
	width:50px;
	display:inline-block;
	margin: 0 5px;
	padding: 10px 5px;
}
.os-links a:hover{
background-color: #00AB00;
}
.os-links{
	margin: 30px 0;
	text-align:center;
}
.hash{
	/*position:absolute;
	margin-top:-15px;
	margin-left:-25px;*/
	font-size:8pt;
	display:inline-block;
}
.os-links span{
	width:80px;
	display:inline-block;
}
.box{
	padding:50px;
}
h3{
	margin-bottom:5px;
}